<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Controller.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categorias</servlet-name>
        <servlet-class>Controller.Categorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaCategoria</servlet-name>
        <servlet-class>Controller.EliminarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCategoria</servlet-name>
        <servlet-class>Controller.ActualizarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCat</servlet-name>
        <servlet-class>Controller.EliminarCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Producto</servlet-name>
        <servlet-class>Controller.Productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarPro</servlet-name>
        <servlet-class>Controller.eliminarPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sesion</servlet-name>
        <servlet-class>Controller.sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ind</servlet-name>
        <servlet-class>Controller.ind</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>Controller.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rusuario</servlet-name>
        <servlet-class>Controller.Rusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Controller.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecibirU</servlet-name>
        <servlet-class>Controller.RecibirU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InisioS</servlet-name>
        <servlet-class>Controller.InisioS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>Controller.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginS</servlet-name>
        <servlet-class>Controller.LoginS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sesionA</servlet-name>
        <servlet-class>Controller.sesionA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf</servlet-name>
        <servlet-class>Controller.pdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categorias</servlet-name>
        <url-pattern>/Categorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaCategoria</servlet-name>
        <url-pattern>/BajaCategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCategoria</servlet-name>
        <url-pattern>/ActualizarCategoria.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCat</servlet-name>
        <url-pattern>/EliminarCat.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Producto</servlet-name>
        <url-pattern>/Producto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarPro</servlet-name>
        <url-pattern>/eliminarPro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sesion</servlet-name>
        <url-pattern>/sesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ind</servlet-name>
        <url-pattern>/ind.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rusuario</servlet-name>
        <url-pattern>/Rusuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecibirU</servlet-name>
        <url-pattern>/RecibirU.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InisioS</servlet-name>
        <url-pattern>/InisioS.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginS</servlet-name>
        <url-pattern>/LoginS.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sesionA</servlet-name>
        <url-pattern>/sesionA.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf</servlet-name>
        <url-pattern>/pdf.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
